*,
*::before,
*::after {
  box-sizing: border-box;
}

.wrapper {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  margin: 0;
}

img {
  width: 100px;
}

.listOfItems {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}